<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>대학공지</string>
		<string>https://home.sch.ac.kr/sch/06/010100.jsp</string>
	</array>
	<array>
		<string>학과공지</string>
		<string>https://home.sch.ac.kr/aibigdata/03/0101.jsp</string>
	</array>
	<array>
		<string>SW중심대학공지</string>
		<string>https://home.sch.ac.kr/sw/07/010000.jsp</string>
	</array>
</array>
</plist>
